.App {
  text-align: center;
}


.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0px;
  font-size: calc(10px + 2vmin);
  background-color: #1fb350;
  padding: 20px;
  padding-left: 70px;
  padding-right: 70px;
  color: white;
}
.Title{
  font-size: 25px;
}
.OtherPage{
  display: flex;
  justify-content: safe;
  font-size: 20px;
}
.About{
  padding-right: 25px;
}

.Search{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 200px;
}

.Search-Bar{
  float: right;
  padding: 6px;
  border-radius: 25px;
  margin-right: 5px;
  font-size: 17px;
  border-color: #c4c4c4;
}

.Button{
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 25px;
  cursor: pointer;
  text-decoration: none;
  font-size: 17px;
  font-family: inherit;
}

.Dropdown{
  background-color: #f9f9f9;
  min-width: 30px;
  padding: 8px 10px;
  font-size: 15px;
  border-radius: 25px;
}

.Datepick{
  border: 1px solid #c4c4c4;
  background-color: #fff;
  padding: 8px 5px;
  padding-left: 10px;
  box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
  width: 190px;
  border-radius: 25px;
  margin-left: 5px;
}

.LocationCard{
  background-color: rgb(218, 216, 216);
  border-radius: 15px;
  width:270px;
  height:260px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-bottom: 30px;
  margin-top: 30px;
  margin-left: 20px;

}

.Photo{
  width:240px;
  height:151px;
  background-color: black;
  margin-top: 25px;
  border-radius: 15px;
  margin-left: 12px;
}

.Vaccinability{
  width:240px;
  height:43px;
  background-color: black;
  margin-top: 20px;
  border-radius: 15px;
  margin-left: 12px;
  color: #f9f9f9;
  justify-content: center;
}

.LocationsGrid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 10px;
  justify-content: center;
  align-self: center;
}