.App {
  text-align: center;
}


.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0px;
  font-size: calc(10px + 2vmin);
  background-color: #ab00ed;
  padding: 20px;
  color: white;
}

